@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.breadcrumb__container {
  position: absolute;
  z-index: 2;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  overflow-x: scroll;

  @include bootstrap.media-breakpoint-up(md) {
    left: -0.5rem;
    width: auto;
  }
}

.breadcrumb {
  display: flex;
  min-width: max-content;
  margin: 0;
  padding: 1rem 1rem 0 0;
  background-color: theme.$color-white;
  list-style: none;

  &__link {
    text-decoration: none;
  }

  &__item {
    padding-right: 5px;
    padding-left: 5px;

    &::after {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      transform: rotate(45deg);
      border-width: 0.2rem 0.2rem 0 0;
      border-style: solid;
    }

    &--active {
      font-weight: theme.$font-weight-bold;

      &::after {
        display: none;
      }
    }
  }
}
