@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.header {
  padding: 2rem 0;

  &--fixed {
    background-color: theme.$color-white;
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__brand {
    align-content: center;
    margin: 0 auto 0 1rem;
    text-align: center;
  }

  &__logo {
    width: 5rem;
    height: 6rem;
    fill: theme.$color-primary;

    @include bootstrap.media-breakpoint-up(lg) {
      width: 6rem;
      height: 8rem;
    }
  }
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  @include bootstrap.media-breakpoint-up(lg) {
    display: flex;
  }

  &__link {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// To rework
@include bootstrap.media-breakpoint-down(lg) {
  .main-navigation {
    .dropdown-menu {
      position: static !important;
      transform: none !important;
      border: 0 !important;
      background-color: initial !important;
    }

    .dropdown-item {
      font-size: 1.5rem;
    }

    .dropdown-toggle.show {
      color: theme.$color-primary;
    }
  }
}

.navbar-collapse {
  position: absolute;
  z-index: 1;
  top: 10rem;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: theme.$color-white;
  box-shadow: 0 1rem 1rem rgb(0 0 0 / 10%);

  @include bootstrap.media-breakpoint-up(lg) {
    position: static;
    flex-grow: initial;
    width: auto;
    padding: 0;
    background-color: initial;
    box-shadow: none;
  }
}

.burger-button {
  $root: &;

  display: inline-block;
  margin: 0;
  overflow: visible;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-transform: none;
  cursor: pointer;

  &__box {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 0.8rem;
  }

  &__inner {
    transform: rotate(90deg);
    transition:
      transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s,
      background-color 0s linear 0.15s;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 4rem;
      height: 0.4rem;
      border-radius: 0.4rem;
      background-color: theme.$color-primary;
    }

    &::before {
      top: -0.2rem;
      transform: rotate(-45deg);
      transition:
        top 75ms ease-out 0.1s,
        transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    }

    &::after {
      bottom: -0.2rem;
      transform: rotate(45deg);
      transition:
        bottom 75ms ease-out 0.1s,
        transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.15s;
    }
  }

  &.collapsed {
    #{$root}__inner {
      position: absolute;
      width: 4rem;
      height: 0.4rem;
      transform: initial;
      transition:
        transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.15s,
        background-color 0s linear 75ms;
      border-radius: 0.4rem;
      background-color: theme.$color-primary;

      &::before,
      &::after {
        transform: initial;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        bottom: -1rem;
      }
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin: 0;

  &__brand {
    margin-left: 0.8rem;
    color: theme.$color-primary;
    font-size: 2rem;
    font-weight: 900;
  }
}
