@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.image-cover {
  position: relative;
  padding: 20rem 0;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #{rgba(bootstrap.$dark, 0.6)};
    inset: 0;
  }

  img {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &__text {
    position: relative;
    z-index: 3;
    color: bootstrap.$white;

    h2 {
      margin-bottom: 1.5rem;
      color: #fff;
      font-size: 2.8rem;
      font-weight: 600;
    }

    p {
      font-weight: 300;
    }
  }
}

.figure-caption {
  margin-top: 1rem;
}

.gallery {
  &__link {
    display: inline-block;
    margin: 0.3rem;
  }
}
