@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.skiptocontent {
  position: absolute;
  z-index: 1050;
  top: -4rem;
  padding: 0.6rem;
  transition: theme.$transition-base;
  border-right: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  border-bottom-right-radius: 0.8rem;
  background: bootstrap.$primary;

  &:focus,
  &:active {
    top: 0;
    outline-color: transparent;
  }
}
