@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.page-title {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 50%;
  align-items: center;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;

  &__title {
    margin: 0;
    color: theme.$color-white;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1;
  }

  &__img {
    display: none;
  }

  @include bootstrap.media-breakpoint-up(md) {
    padding-left: 2rem;
    text-align: initial;

    &__title {
      margin: 0 0 0 1rem;
    }

    &__img {
      display: block;
    }
  }
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  .background-image & {
    color: bootstrap.$white;
    font-weight: bootstrap.$font-weight-bold;
  }

  .background-image {
    &--head & {
      font-size: 3.7rem;
    }
  }

  strong {
    color: bootstrap.$primary;
  }
}
