.block-blue {
  padding: 3rem 2rem;
  background-color: var(--color-calypso);
  color: var(--color-white);

  &__title {
    margin-top: 0;
    text-align: center;
  }

  &__images {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;

    &__item {
      overflow: hidden;
      border-radius: 2rem;
    }
  }
}
