.form {
  &__element {
    margin: 1.5rem 0 1rem;

    .col .grid & {
      margin: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__submit {
    padding: 0.75rem 1rem;
    transition: var(--transition);
    border: 0;
    background-color: var(--color-calypso);
    color: var(--color-white);

    &:hover {
      box-shadow: var(--shadow);
    }
  }

  &-control {
    width: 100%;
    padding: 1rem 1.5rem;
    border: 0.0625rem solid var(--color-calypso);
    border-radius: 0.625rem;
  }
}

.btn-group {
  text-align: center;
}
