.form {
  &__element {
    margin: 1.5rem 0 1rem;
    .col .grid & {
      margin: 0;
    }
  }
  &__label {
    display: block;
    margin-bottom: .5rem;
  }

  &__submit {
    background-color: var(--color-calypso);
    border: 0;
    padding: .75rem 1rem;
    color: var(--color-white);
    transition: var(--transition);
    &:hover {
      box-shadow: var(--shadow);
    }
  }
  &-control {
    border-radius: 0.625rem;
    padding: 1rem 1.5rem;
    border: 0.0625rem solid var(--color-calypso);
    width: 100%;
  }
}

.btn-group {
  text-align: center;
}