@use "../Base/mixins" as *;

.gallery {
  display: grid;
  gap: var(--gutter);
  grid-template-columns: repeat(12, 1fr);

  &__item {
    grid-column: span 6;

    @include media-breakpoint-up(md) {
      grid-column: span 4;
    }

    @include media-breakpoint-up(lg) {
      grid-column: span 2;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }
}
