@use "../Base/mixins" as *;

.page-header {
  position: relative;

  &__title {
    margin-top: 0;
  }
  &__texts {
    margin: -6.5rem 0 1.5rem;
    @include media-breakpoint-up(md) {
      position: absolute;
      max-width: 60%;
    }
  }

  &__img {
    max-height: 20rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    img {
      width: 100%;
    }
  }
}