@use "../Base/mixins" as *;

.record {
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-white);
  box-shadow: var(--shadow);

  @include media-breakpoint-up(lg) {
    padding: 3rem;
  }

  &--small {
    padding: 1.5rem;
  }

  &__title {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .col & {
    height: 100%;
  }
}
