.record {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 1.5rem;
  padding: 3rem;

  &--small {
    padding: 1.5rem;
  }

  &__title {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  .col & {
    height: 100%;
  }
}