@use "../Base/mixins" as *;
@use "../../../../../node_modules/rfs/scss" as *;

.component-price {
    &__container {
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
        }
    }

    @include media-breakpoint-down(md) {
        &__item {
            margin-bottom: 1rem;
        }
    }

    &__price {
        text-align: center;

        &__value {
            font-weight: var(--font-weight-bold);

            @include font-size(2.25rem);
        }

        &__information {
            font-style: italic;
        }
    }

    &__service {
        margin-bottom: 1rem;
        font-family: var(--font-family-secondary);
        font-weight: var(--font-weight-bold);
        text-align: center;
        text-transform: uppercase;

        @include font-size(1.25rem);
    }
}
