@use "../Base/mixins" as *;

.component-squares {
  margin-top: 0.625rem;

  @include media-breakpoint-up(md) {
    &__container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      gap: 1rem;
    }

    &__col {
      grid-column: span 6;
    }
  }

  @include media-breakpoint-up(lg) {
    &__col {
      grid-column: span 4;
    }
  }

  &__item {
    margin-bottom: 0.625rem;
    padding: 1.125rem;
    color: var(--color-white);
    text-align: center;

    &__icon {
      width: 2.7rem;
      height: 2.7rem;
      margin: 0 auto 0.625rem;
      padding: 0.625rem;
      border-radius: 100%;
      background-color: rgb(255 255 255 / 85%);

      &__svg {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--primary-dark);
      }
    }
  }
}
