@use "../../../../../node_modules/rfs/scss" as *;
@use "../Base/mixins" as *;

h2 {
    font-family: var(--font-family-secondary);
    @include font-size(2.25rem);

    margin-bottom: 0.75rem;
    color: var(--primary-dark);

    &.picto {
        margin: 1rem 0 0.5rem;
        font-size: 1.25rem;
        text-transform: uppercase;
    }
}
