.references {
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
  }

  &__image {
    display: block;
    border-radius: 0.5rem;
  }

  &__data {
    margin-top: 1rem;
  }

  &__link {
    color: var(--color-dark);
    font-weight: 700;
    text-decoration: none;
  }

  &__description {
    margin-bottom: 0;
  }
}
