@use "../Base/mixins" as *;

.resume {
  display: flex;
  padding: 4rem 0;
  background: url("../assets/images/background.webp");
  background-size: cover;

  @include media-breakpoint-up(lg) {
    height: 100vh;
  }

  &__title {
    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }

  &__image {
    border: 1px solid white;
    border-radius: 100%;
    outline: 3px solid white;
    outline-offset: 0.5rem;
  }

  &__subtitle {
    margin: 0;
    font-size: 2rem;
  }
}
