.skiptocontent {
  padding: .6rem;
  position: absolute;
  top: -4rem;
  border-right: .1rem solid white;
  border-bottom: .1rem solid white;
  border-bottom-right-radius: .8rem;
  background: $primary;
  transition: $transition-base;
  z-index: 1050;
  @include text-contrast($primary);

  &:focus,
  &:active {
    top: 0;
    outline-color: transparent;
  }
}
