h2 {
  font-weight: $font-weight-bold;
  font-size: 2rem;
  line-height: 1.125;
  margin-bottom: 2rem;
}
h1, h2, h3 {
  .background-image & {
      color: $white;
  }
  .background-image--head & {
      font-size: 3.7rem;
      line-height: 2.3;
  }
  strong {
      color: $primary;
  }
}
