@import "../Base/base";

.navbar {
  border-bottom: .1rem solid #e6e9ea;
}
.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $font-weight-bolder;
}

.navbar-submenu {
  background-color: $cyan-900;
  padding: 0;
  &_link {
      text-transform: none;
      color: $white;
      padding: .6rem 1rem 1rem;
      transition: $transition-base;
      font-size: .9rem;
      &:hover {
          background-color: $primary;
          @include text-contrast($primary);
      }
  }
}
