@use "../Base/base" as theme;

.collapse {
  &__button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: initial;

    &__arrow {
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      transform: rotate(180deg);
      transition: theme.$transition-base;
      border-top: 0.3rem solid #000;
      border-left: 0.3rem solid #000;

      &::after {
        content: "";
        display: block;
        width: 0.3rem;
        height: 2.5rem;
        transform: rotate(-45deg) translate(0.8rem);
        background-color: black;
      }
    }

    &[aria-expanded="true"] {
      .collapse__button__arrow {
        transform: rotate(90deg);
      }
    }

    h2 {
      margin: 0;
    }
  }

  &__content {
    margin-top: 1.5rem;
  }
}
