@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.component-price {
  &__container {
    margin-bottom: 2rem;

    @include bootstrap.media-breakpoint-up(md) {
      display: flex;
      align-items: center;
    }
  }

  @include bootstrap.media-breakpoint-down(md) {
    &__item {
      margin-bottom: 1.5rem;
    }
  }

  &__price {
    text-align: center;

    &__value {
      font-weight: theme.$font-weight-bold;

      @include bootstrap.font-size(3.5rem);
    }

    &__information {
      font-style: italic;
    }
  }

  &__service {
    margin-bottom: 1.5rem;
    font-weight: theme.$font-weight-bold;
    font-family: theme.$font-family-secondary;
    text-align: center;
    text-transform: uppercase;

    @include bootstrap.font-size(2rem);
  }
}
