@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.header {
  position: relative;
  padding: 1.5rem 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slogan {
    margin: 0 auto 0 2rem;
    color: theme.$primary-pink;
    font-weight: theme.$font-weight-bold;
    font-family: theme.$font-family-secondary;
  }

  &__logo {
    width: 12.5rem;
    height: 10.2rem;
  }
}

.burger-button {
  $root: &;

  display: block;
  height: 3rem;
  border: 0;
  background: none;

  @include bootstrap.media-breakpoint-up(lg) {
    display: none;
  }

  &__icon {
    position: relative;
    display: block;
    width: 4rem;
    height: 0.4rem;
    border-radius: 0.4rem;
    background-color: theme.$primary-pink;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 4rem;
      height: 0.4rem;
      border-radius: 0.4rem;
      background-color: theme.$primary-pink;
      content: "";
    }

    &::before {
      top: -1rem;
      transition: opacity 0.125s ease 0.275s;
    }

    &::after {
      top: 1rem;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &--active {
    #{$root}__icon {
      transform: translate3d(0, 0, 0) rotate(135deg);
      transition-delay: 75ms;

      &::before {
        opacity: 0;
        transition-delay: 0s;
      }

      &::after {
        transform: translate3d(0, -1rem, 0) rotate(-270deg);
        transition-delay: 75ms;
      }
    }
  }
}

.navbar-collapse {
  @include bootstrap.media-breakpoint-down(lg) {
    position: absolute;
    top: 12rem;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: theme.$color-white;
  }

  @include bootstrap.media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  @include bootstrap.media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    display: block;
    padding: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;

    @include bootstrap.media-breakpoint-up(lg) {
      text-align: center;
    }

    &::before {
      position: absolute;
      right: 51%;
      bottom: 0;
      left: 51%;
      z-index: -1;
      height: 0.4rem;
      background: theme.$primary-pink;
      transition-timing-function: ease-out;
      transition-duration: 0.3s;
      transition-property: left, right;
      content: "";
    }

    &::after {
      transition: theme.$transition-base;
    }

    &:hover,
    &--active {
      &::before {
        right: 0;
        left: 0;
      }
    }

    &.show::after {
      transform: rotate(-180deg);
    }
  }

  .dropdown-menu {
    padding: 0;

    @include bootstrap.media-breakpoint-down(lg) {
      position: static !important;
      transform: none !important;
    }

    @include bootstrap.media-breakpoint-up(lg) {
      box-shadow: 0.5rem 0.5rem 2rem 0 rgb(0 0 0 / 40%);
    }

    .dropdown-item {
      position: relative;
      padding: 1rem 1.5rem;
      border-bottom: 0.1rem solid theme.$color-white;
      color: theme.$primary-pink;
      font-size: 1.4rem;
      background-color: theme.$color-white;
      transform: perspective(0.1rem) translateZ(0);
      transition: theme.$transition-base;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: theme.$primary-pink;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-timing-function: ease-out;
        transition-duration: 0.3s;
        transition-property: transform;
        content: "";
      }

      &:hover,
      &.active {
        color: theme.$color-white;

        &::before {
          transform: scaleX(1);
        }
      }
    }
  }
}
