$transition-base: all 0.4s ease-in-out;

:root {
  --bs-body-font-family: "Overpass", sans-serif;
}

$font-family-primary: "Overpass", var(--bs-font-sans-serif);
$font-size-base: 1.6rem;

$color-white: #fff;

$color-dark: #1e2025;
$color-grey: #ddd;
$color-grey-light: #f2f2f2;
$color-primary: #550f60;
$color-secondary: #f75843;


$link-color: $color-primary;
$primary: $color-primary;

$background-footer: $color-dark;
$color-footer: $color-grey;

$font-weight-bold: 600;
$font-weight-bolder: 800;
