@use "../Base/mixins" as *;
@use "../Theme/breakpoints" as *;
@use "../Theme/container" as *;

@each $breakpoint, $container-max-width in $container-max-widths {
  @include media-breakpoint-up($breakpoint) {
    .container {
      max-width: $container-max-width;
    }
  }
}

.container {
  margin: auto;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;

  .col {
    grid-column: span 12;
  }

  &--col4 {
    @include media-breakpoint-up(md) {
      .col {
        grid-column: span 6;
      }
    }

    @include media-breakpoint-up(lg) {
      .col {
        grid-column: span 3;
      }
    }
  }

  &--col7525 {
    @include media-breakpoint-up(md) {
      .col {
        grid-column: span 4;
      }

      > .col:first-child {
        grid-column: span 8;
      }
    }
  }

  &--col5050 {
    @include media-breakpoint-up(md) {
      .col {
        grid-column: span 6;
      }
    }
  }
}
