.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__icon {
      height: 4rem;
      width: 8rem;
    }
    &__text {
      font-size: 0.8rem;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;

    &__link {
      transition: var(--transition);
      &:hover,
      &:focus,
      &--active {
        color: var(--color-calypso);
        text-decoration: none;
      }
    }
  }
}