@use "../Base/mixins" as *;

.header {
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 3rem;
  transition: var(--transition);

  &--scrolled {
    border-radius: 0 0 2rem 2rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow);

    .header__logo {
      &__icon {
        width: 4.5rem;
        height: 2rem;
      }
    }

    .header__burger,
    .header__nav__list__item,
    .header__logo {
      box-shadow: none;
    }

    .header__nav__list {
      box-shadow: none;
    }
  }

  &--home {
    margin: 0;
  }

  &__logo {
    margin: 0 auto 0 0;
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow);

    &__icon {
      width: 9rem;
      height: 4rem;
      transition: var(--transition);
    }
  }

  &__burger {
    padding: 1rem;
    border: 0;
    border-radius: 0 0 2rem 2rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow);

    &[aria-expanded="true"] {
      .header__burger__icon {
        background-color: transparent;

        &::before {
          margin-top: 0;
          transform: rotate(405deg);
        }

        &::after {
          margin-top: 0;
          transform: rotate(-405deg);
        }
      }
    }

    &__icon {
      display: block;
      width: 2rem;
      height: 0.25rem;
      transition: var(--transition);
      border-radius: 0.125rem;
      background-color: var(--color-calypso);

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 2rem;
        height: 0.25rem;
        transition: var(--transition);
        border-radius: 0.125rem;
        background-color: var(--color-calypso);
      }

      &::before {
        margin-top: -0.5rem;
      }

      &::after {
        margin-top: 0.5rem;
      }
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__nav {
    @include media-breakpoint-down(lg) {
      position: absolute;
      top: 7.5rem;
      right: 0;
    }

    @include media-breakpoint-up(lg) {
      &.collapse {
        display: block !important;
      }
    }

    &__list {
      $root: &;

      height: 100%;
      margin: 0;
      padding: 1rem 1rem 0;
      background: var(--color-white);
      box-shadow: var(--shadow);
      list-style: none;

      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-radius: 0 0 2rem 2rem;
        box-shadow: var(--shadow);
      }

      &__item {
        display: flex;
        align-items: center;

        &:nth-child(2) #{$root}__link {
          &::before,
          &::after {
            background: var(--color-etancheite);
          }
        }

        &:nth-child(3) #{$root}__link {
          &::before,
          &::after {
            background: var(--color-equipement);
          }
        }

        &:nth-child(4) #{$root}__link {
          &::before,
          &::after {
            background: var(--color-amenagement);
          }
        }
      }

      &__link {
        position: relative;
        width: 100%;
        margin-bottom: 0.4rem;
        padding: 0.5rem 1rem;
        transition: var(--transition);
        color: currentcolor;
        text-decoration: none;

        &::after,
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 0.25rem;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.4s ease-out;
          background: var(--color-piscine);
        }

        &::before {
          top: -5px;
          transform-origin: left;
        }

        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
          padding: 0 1rem;
        }

        &--active,
        &:hover,
        &:focus {
          &::before,
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.dropdown-menu {
  display: none;
}
