.skiptocontent {
  position: absolute;
  top: -0.25rem;
  z-index: 1050;
  padding: 0.375rem;
  border-right: 0.0625 solid white;
  border-bottom: 0.0625 solid white;
  border-bottom-right-radius: 0.5rem;
  background: var(--primary);
  transition: var(--transition-base);

  &:focus,
  &:active {
    top: 0;
    outline-color: transparent;
  }
}
