@use "../Base/mixins" as *;
@use "../Base/functions" as *;
@use "../Base/helpers" as *;
@forward "container";
@forward "skiptocontent";
@forward "title";
@forward "image";
@forward "footer";
@forward "../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@include font-face(Sora, "../assets/fonts/Sora-Light", 300, normal);
@include font-face(Sora, "../assets/fonts/Sora-Regular", 400, normal);
@include font-face(Sora, "../assets/fonts/Sora-SemiBold", 600, normal);

:root {
    @include generate-vars;
}

.navbar-submenu_link {
  padding: 1rem !important;
  font-size: 0.9rem !important;
}
body {
  font-family: var(--font-family-primary);
  overflow-x: hidden;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

a:hover {
  color: var(--primary);
}
