@use "../Base/mixins" as *;
@use "../Base/functions" as *;
@use "../Base/helpers" as *;
@forward "container";
@forward "header";
@forward "footer";
@include font-face(Suez, "../assets/fonts/Suez-one", 400, normal);
@include font-face(Roboto, "../assets/fonts/Roboto-regular", 400, normal);

:root {
  @include generate-vars;
}

body {
  font-family: var(--font-family-primary);
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-desert);
  overflow-x: hidden;
  line-height: 1.5;
}

.page {
  padding-top: 7rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 75%;
}

.component {
  margin-top: 1.5rem;
}

.frame-space {
  &-before {
    &-extra-small {
      margin-top: .5rem;
    }
    &-small {
      margin-top: 1rem;
    }
    &-medium {
      margin-top: 1.5rem;
    }
    &-large {
      margin-top: 2rem;
    }
    &-extra-large {
      margin-top: 2.5rem;
    }
  }
  &-after {
    &-extra-small {
      margin-bottom: .5rem;
    }
    &-small {
      margin-bottom: 1rem;
    }
    &-medium {
      margin-bottom: 1.5rem;
    }
    &-large {
      margin-bottom: 2rem;
    }
    &-extra-large {
      margin-bottom: 2.5rem;
    }
  }
}