@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.creation {
  $root: &;

  &--dark {
    color: theme.$color-white;
    background-color: black;

    #{$root}__detail__icon {
      fill: theme.$color-white;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &--disp1 {
    &__images {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__item {
        @include theme.delay(3);
      }
    }

    &__description {
      order: 1;

      @include bootstrap.media-breakpoint-up(md) {
        order: 0;
      }
    }

    &__main-image {
      order: 0;
      text-align: center;

      @include bootstrap.media-breakpoint-up(md) {
        order: 1;
      }
    }
  }

  &--disp2 {
    &__images,
    &__image {
      text-align: center;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    text-align: center;

    &__info {
      margin-top: 1rem;
      font-size: 1.3rem;
    }

    &__icon {
      width: 6rem;
      height: 6rem;
      fill: theme.$primary-dark;
    }
  }

  &--disp3 {
    &__images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    &__informations {
      display: flex;
      justify-content: space-between;
    }
  }
}
