.footer {
  padding: 1.5rem 0;
  color: $white;
  font-family: Bebas, sans-serif;
  background-color: $primary-green;

  &__container {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__menu {
    margin: 1.5rem auto;

    @include media-breakpoint-up(md) {
      margin: 0 auto 0 4rem;
    }

    &__link {
      padding-bottom: 0.2rem;
      font-size: 1.8rem;
      text-decoration: none;
      background-image: linear-gradient(currentcolor, currentcolor);
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 0 0.2rem;
      transition: $transition-base;

      &:hover {
        background-size: 100% 0.2rem;
      }
    }
  }

  &__logo {
    display: block;
    width: 7rem;
    height: 9rem;
  }

  &__copyright {
    margin: 1rem 0 0;
    font-size: 1.5rem;
    text-align: center;
  }
}
