@import "../Base/base";

.demarches {
  &__images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &__icon {
      margin-right: 2rem;
    }

    &__border {
      height: 0.1rem;
      border: 0.1rem solid $white;
    }
  }

  &__link {
    display: block;
    margin-bottom: 2rem;

    &:last-child {
      margin: 0;
    }
  }
}
