@use "../../Base/mixins" as *;

h1 {
  margin: 2rem 0 4rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-secondary);
  text-align: center;
  padding: 0px;
  margin: 0;

  // @include font-size(6rem);

  &::after {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 2rem;
    border-bottom: 0.3rem solid var(--primary-dark);
    content: "";
  }
}
