$transition-base: all 0.4s ease-in-out;

// Colors
$color-theme: #a552d6;
$primary-dark: #111;
$primary-orange: #f17c0e;
$primary-pink: #df046f;
$link-color: #087e96;
$color-white: #fff;

// Typography
$font-family-primary: "Opensans", var(--bs-font-sans-serif);
$font-size-base: 1.6rem;

// Font weights
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
