$transition-base: all 0.4s ease-in-out;

:root {
  --bs-body-font-family: "Lato", sans-serif;
  --bs-root-font-size: 0.625rem;
}

$primary-green: #76b72a;
$primary-dark: #000a1f;
$primary-brown: #261918;
$primary-brown-light: #6e5454;
$link-color: #087e96;
$font-size-root: 12px;
$rfs-rem-value: 10;

// Navbar
$navbar-light-active-color: #087e96;
$navbar-padding-y: $spacer * 2;
$navbar-nav-link-padding-x: $spacer;
$navbar-light-toggler-border-color: rgba($primary, 0.1);
$font-weight-bold: 700;
