.skip-content {
  &__link {
    position: absolute;
    top: auto;
    left: -999px;
    z-index: -999;
    transition: $transition-base;

    &:focus,
    &:active {
      left: 0;
      z-index: 999;
      padding: 0.5rem;
      border: 0.2rem solid $primary;
      color: #fff;
      text-align: center;
      background-color: $background-body;
    }
  }
}
