@use "../Base/base" as theme;

.news {
  &__image {
    display: flex;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__category {
    display: block;
    color: theme.$color-secondary;
    font-size: 1.5rem;
    font-weight: theme.$font-weight-bold;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: theme.$font-weight-bolder;
    line-height: 1.3;
  }

  &__link {
    transition: theme.$transition-base;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      color: theme.$color-secondary;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__date {
    color: #888;
    font-size: 1.4rem;
  }
}
