@use "../Base/base" as theme;

.component-3cols {
  &__title,
  &__texte {
    display: flex;
    align-items: center;
    padding: 6rem 3rem;
    text-align: center;
  }

  &__title {
    background-color: theme.$primary-pink;

    h2 {
      color: theme.$color-white;
    }
  }
}
