@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.navbar {
  border-bottom: 0.1rem solid #e6e9ea;
}

.nav-link {
  font-weight: bootstrap.$font-weight-bolder;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-submenu {
  padding: 0;
  background-color: bootstrap.$cyan-900;

  &_link {
    padding: 1rem;
    color: bootstrap.$white;
    font-size: 0.9rem;
    text-transform: none;
    transition: theme.$transition-base;

    &:hover {
      background-color: bootstrap.$primary;
    }
  }
}

.navbar-brand {
  &__logo {
    width: 10rem;
    height: 4.6rem;

    &--footer {
      width: 8rem;
      height: 4rem;
    }
  }
}
