@import "../Base/base";

.component {
  position: relative;
  overflow: hidden;

  &--dark {
    color: $white;
    background-color: $primary-brown;
  }

  &--h100 {
    height: 100vh;
    overflow: hidden;
  }

  &--padding {
    padding: 5rem 0;
  }

  &--background-image {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-brown-light;
      opacity: 0.75;
      content: "";
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__above-image {
    position: relative;
    z-index: 1;
  }
}
