@use "../../Base/mixins" as *;

h2 {
    // @include font-size(3.6rem);

    margin-bottom: 2rem;
    color: var(--primary-dark);
    font-family: var(--font-family-secondary);

    &.picto {
        margin: 1.5rem 0 0.8rem;
        font-size: 2rem;
        text-transform: uppercase;
    }
}
