@use "../Base/mixins" as *;

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-dark);
  color: var(--color-white);

  &__content {
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__link {
      display: flex;
    }

    &__icon {
      width: 8rem;
      height: 2rem;
      fill: var(--color-white);
    }

    &__text {
      font-size: 0.8rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gutter);
  }

  &__nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;

    &__link {
      transition: var(--transition);

      &:hover,
      &:focus,
      &--active {
        color: var(--color-calypso);
        text-decoration: none;
      }
    }
  }
}
