@use "../Base/mixins" as *;

.header {
  padding: 1.5rem 0;
  transition: var(--transition);
  background-color: var(--color-primary);

  &--home {
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &--top {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: initial;
    width: 100%;
    padding: 0.5rem 0;

    .header__logo__icon {
      height: 1.5rem;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: calc(var(--gutter) * 3);
  }

  &__logo {
    margin: 0 auto 0 0;
    line-height: 0;

    &__icon {
      width: 14rem;
      height: 2rem;
      transition: var(--transition);
      fill: var(--color-dark);
    }
  }

  &__nav {
    margin-left: auto;
    transition: var(--transition);
    font-family: var(--font-family-title);
    font-weight: bold;

    @include media-breakpoint-down(lg) {
      position: fixed;
      top: calc(var(--menu-height) + 3rem);
      padding-right: 2rem;

      &[aria-hidden="false"] {
        right: 0;
      }

      &[aria-hidden="true"] {
        right: -100%;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none;
      gap: calc(var(--gutter) * 2);

      @include media-breakpoint-up(lg) {
        flex-direction: initial;
      }

      &__link {
        position: relative;
        font-size: 1.2rem;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          z-index: 1;
          right: 0.25rem;
          bottom: -0.5rem;
          left: -0.25rem;
          width: 0;
          height: 0.125rem;
          transition: 0.4s;
          background-color: currentcolor;
        }

        &--active,
        &:focus,
        &:hover {
          &::after {
            right: auto;
            left: 0;
            width: 100%;
          }
        }
      }
    }
  }

  &__burger {
    $root: &;

    width: 2rem;
    height: 1.5rem;
    border: 0;
    background: transparent;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    &__bar {
      display: block;
      position: relative;
      width: 100%;
      height: 3px;
      transition: var(--transition);
      transition-duration: 0.25s;
      background-color: var(--color-dark);

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        transition: var(--transition);
        background-color: var(--color-dark);
      }

      &::before {
        top: -0.5rem;
      }

      &::after {
        bottom: -0.5rem;
      }
    }

    &[aria-expanded="true"] {
      #{$root}__bar {
        transform: rotate(45deg);

        &::before {
          top: 0;
          transform: rotate(0deg);
        }

        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }
  }
}
