@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

.component-squares {
  margin-top: 1.5rem;

  &__item {
    margin-bottom: 1.5rem;
    padding: 3rem;
    color: theme.$color-white;
    text-align: center;

    &__icon {
      width: 7rem;
      height: 7rem;
      margin: 0 auto 1rem;
      padding: 1.5rem;
      border-radius: 100%;
      background-color: #{rgba(theme.$color-white, 0.85)};

      &__svg {
        display: block;
        width: 4rem;
        height: 4rem;
        fill: theme.$primary-dark;
      }
    }

    &--pink {
      background-color: theme.$primary-pink;
    }

    &--purple {
      background-color: theme.$color-theme;
    }

    &--orange {
      background-color: theme.$primary-orange;
    }
  }
}
