@use "../Base/mixins" as *;
@use "../Theme/breakpoints" as *;
@use "../Theme/container" as *;

@each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
        .container {
            max-width: $container-max-width;
        }
    }
}

.container {
    margin: auto;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
}
