@use "../Base/mixins" as *;

.header {
  position: relative;
  padding: 1rem 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slogan {
    margin: 0 auto 0 2rem;
    color: var(--primary-pink);
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-bold);
  }

  &__logo {
    display: block;
    width: 7.8rem;
    height: 6.375rem;
  }

  &__logo-container {
    margin: 0;

    &::after {
      display: none;
    }
  }
}

.burger-button {
  $root: &;

  display: block;
  height: 1.875rem;
  border: 0;
  background: none;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &__icon {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--primary-pink);

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 2.5rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      background-color: var(--primary-pink);
    }

    &::before {
      top: -0.625rem;
      transition: opacity 0.125s ease 0.275s;
    }

    &::after {
      top: 0.625rem;
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &--active {
    #{$root}__icon {
      transform: translate3d(0, 0, 0) rotate(135deg);
      transition-delay: 75ms;

      &::before {
        transition-delay: 0s;
        opacity: 0;
      }

      &::after {
        transform: translate3d(0, -0.625rem, 0) rotate(-270deg);
        transition-delay: 75ms;
      }
    }
  }
}

.navbar-collapse {
  @include media-breakpoint-down(lg) {
    position: absolute;
    z-index: 99;
    top: 7.5rem;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
  }

  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
}

.main-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }

  &__link {
    display: block;
    position: relative;
    padding: 1rem;
    color: var(--primary-pink);
    text-decoration: none;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      right: 51%;
      bottom: 0;
      left: 51%;
      height: 0.25rem;
      transition-property: left, right;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      background: var(--primary-pink);
    }

    &::after {
      transition: var(--transition-base);
    }

    &:hover,
    &--active {
      &::before {
        right: 0;
        left: 0;
      }
    }

    &.show::after {
      transform: rotate(-180deg);
    }
  }

  .dropdown-menu {
    padding: 0;

    @include media-breakpoint-down(lg) {
      position: static !important;
      transform: none !important;
    }

    @include media-breakpoint-up(lg) {
      box-shadow: 0.3rem 0.3rem 1.25rem 0 rgb(0 0 0 / 40%);
    }

    .dropdown-item {
      position: relative;
      padding: 0.625rem;
      transform: perspective(0.1rem) translateZ(0);
      transition: var(--transition-base);
      border-bottom: 0.1rem solid var(--color-white);
      background-color: var(--color-white);
      color: var(--primary-pink);
      font-size: 0.875rem;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        background: var(--primary-pink);
      }

      &:hover,
      &.active {
        color: var(--color-white);

        &::before {
          transform: scaleX(1);
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}
