@use "../Base/mixins" as *;
@use "../Base/functions" as *;
@use "../Base/helpers" as *;
@forward "container";
@forward "skiptocontent";
@forward "header";
@forward "footer";
@include font-face(Montserrat, "../assets/fonts/montserrat.bold", 400, normal);
@include font-face(Opensans, "../assets/fonts/opensans-light", 400, normal);

:root {
  @include generate-vars;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow-x: hidden;
  color: black;
  font-family: Opensans, sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

.main {
  &--margin {
    margin-bottom: 1.5rem;
  }
}
