@use "../Base/mixins" as *;
@use "../Base/functions" as *;
@use "../Base/helpers" as *;
@forward "container";
@forward "skiptocontent";
@forward "header";
@forward "footer";
@include font-face(Montserrat, "../assets/fonts/montserrat.bold", 400, normal);
@include font-face(Opensans, "../assets/fonts/opensans-light", 400, normal);

:root {
    @include generate-vars;
}

body {
    color: black;
    font-family: Opensans, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    overflow-x: hidden;
}

.main {
    &--margin {
        margin-bottom: 8rem;
    }
}
