@use "../Base/base" as theme;

h2 {
  margin-bottom: 2rem;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}

.heander__line {
  text-align: center;

  &__text {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 2rem;
      height: 0.2rem;
      transform: translateY(-50%);
      background-color: #000;
    }

    &::before {
      left: -30px;
    }

    &::after {
      right: -30px;
    }
  }
}
