@use "../Base/base" as theme;

.frame-default {
  position: relative;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: theme.$color-white;
  box-shadow: 0 1rem 1rem rgb(0 0 0 / 10%);

  &--no-background {
    padding: 0;
    background-color: initial;
    box-shadow: none;
  }

  &--header-page {
    position: relative;
    min-height: 25rem;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 70%);
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
}

.list-links {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding: 0.9rem 0;
  }

  a {
    transition: all 0.3s ease;
    font-weight: 300;

    &::before {
      content: "";
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 1rem;
      height: 0.1rem;
      transition: theme.$transition-base;
      border-radius: 50%;
      opacity: 0;
      background-color: theme.$color-primary;
    }

    &:hover {
      padding-left: 1.5rem;
      color: theme.$color-primary;

      &::before {
        opacity: 1;
      }
    }
  }
}
