@use "../Base/base" as theme;
@use "../../Vendors/Bootstrap/utilities" as bootstrap;

h1:not(.navbar-brand) {
  @include bootstrap.font-size(6rem);

  position: relative;
  margin-bottom: 2rem;
  color: theme.$primary-brown;
  font-family: Bebas, sans-serif;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    bottom: 0.3rem;
    display: block;
    width: 5rem;
    height: 0.5rem;
    background-color: theme.$color-theme;
    content: "";
  }
}
