@use "../Base/base" as theme;

h1 {
  @include theme.font-size(6rem);

  position: relative;
  margin-bottom: 2rem;
  color: theme.$primary-brown;
  font-family: Bebas, sans-serif;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    bottom: 0.3rem;
    display: block;
    width: 5rem;
    height: 0.5rem;
    background-color: theme.$primary-green;
    content: "";
  }
}
