@use "../Base/base" as theme;

.menu-category {
  $root: &;

  &__card {
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 10%);
  }

  &__link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2rem solid theme.$color-white;
    background-color: theme.$color-white;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      transition: theme.$transition-base;
      opacity: 0.7;
      background-color: #000;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgb(0 0 0 / 0%) 0%,
        rgb(0 0 0 / 90%) 100%
      );
    }

    &:hover {
      &::before {
        height: 100%;
      }

      #{$root}__title {
        position: absolute;
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    top: 80%;
    left: 50%;
    width: 80%;
    margin-bottom: 0;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;

    &::after {
      content: "";
      position: absolute;
      top: 120%;
      bottom: -20rem;
      left: 50%;
      width: 0.2rem;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      background-color: #fff;
    }
  }
}
