@use "sass:map";
@use "sass:list";

@function breakpoint-next(
    $name,
    $breakpoints: $grid-breakpoints,
    $breakpoint-names: map.keys($breakpoints)
) {
    $n: list.index($breakpoint-names, $name);

    @if not $n {
        @error "breakpoint `#{$name}` not found in `#{$breakpoints}`";
    }

    @return if(
        $n < list.length($breakpoint-names),
        list.nth($breakpoint-names, $n + 1),
        null
    );
}
