h2 {
  font-weight: $font-weight-bold;
  margin-bottom: 2rem;
}
h1, h2, h3 {
  .background-image & {
      color: $white;
  }
  .background-image--head & {
      font-size: 3.7rem;
  }
  strong {
      color: $primary;
  }
}
