@import "../Base/base";

.navbar {
  border-bottom: 0.1rem solid #e6e9ea;
}

.nav-link {
  font-weight: $font-weight-bolder;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-submenu {
  padding: 0;
  background-color: $cyan-900;

  &_link {
    padding: 1rem;
    color: $white;
    font-size: 0.9rem;
    text-transform: none;
    transition: $transition-base;

    &:hover {
      background-color: $primary;
    }
  }
}
